@import "~/src/scss/variables.scss";

.questions {
    margin-bottom: 121px;
    &-button{
        max-width: 141px;
        width: 100%;
        margin: 0 auto;
    }

    &-title {
        margin: 120px 0 24px 0;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 66px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;

    }

    &-paragraph {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #cdcdcd;
        margin-bottom: 54px;
    }

    .card {
        box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
        background-color: #fff;
        border-radius: 8px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: #475f7b;
        overflow: hidden;
    }

    .rc-accordion-header {
        width: 912px;
        height: 114px;
        position: relative;
    }

    .rc-accordion-toggle {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        justify-content: space-between;
        transition: 0.3s;
        border: none;
        
    }

    .rc-accordion-toggle.active {}

    .rc-accordion-toggle.active .rc-accordion-icon {
        transform: rotate(180deg);
        color: #fff;
        background-color: $red;
    }

    .rc-accordion-card {
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-child{
            .rc-accordion-line{
                display: none;
            }
        }
    }

    .rc-accordion-card:last-child {
        margin-bottom: 0;
    }

    .rc-accordion-title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #fff;
        width: 719px;
        position: absolute;
        margin-left: 37px;
    }

    .rc-accordion-toggle.active .rc-accordion-title {
        color: #fff;
    }

    .rc-accordion-icon {
        right: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #333;
        transition: 0.35s;
        font-size: 12px;
        border-radius: 50%;
        background-image: url("~/public/images/questionsIcon.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .rc-accordion-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 15px;

        .mb-0 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #cdcdcd;
            margin: 0px 165px;
        }
    }

    .rc-accordion-body p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #727E8C;
    }

    .rc-collapse {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    .rc-collapse.show {
        height: auto;
    }
}