@import "~/src/scss/variables.scss";

.precision {
    margin-bottom: 120px;
    &-title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 66px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-align: center;
        color: $white;
        margin-bottom: 24px;
    }

    &-paragraph {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: $grey-2;
        margin-bottom: 74px;
    }

    &-image-box {
        background-image: url("~/public/images/frame.png");
        margin-bottom: 30px;
        max-width: 273px;
        width: 100%;
        height: 261px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            max-width: 213px;
            width: 100%;
            height: 170px;

        }
    }

    &-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1124px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        > div {
            @media (max-width: 1124px) {
                flex-grow: 1;
                flex-basis: 290px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        > div p{
            max-width: 273px;
            width: 100%;

        }
        &-gamepads {
            .gamepad-image {
                max-width: 273px;
                width: 100%;
                height: 261px;
            }

            .gamepad-title {
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 34px;
                line-height: 110%;
                letter-spacing: -0.02em;
                text-align: center;
                color: $white;
                margin-bottom: 12px;
            }

            .gamepad-paragraph {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #cdcdcd;
            }
        }

        &-keyboards {
            .keyboards-image {
                max-width: 273px;
                width: 100%;
                height: 261px;
            }

            .keyboard-title {
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 34px;
                line-height: 110%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #fff;
                margin-bottom: 12px;
            }

            .keyboard-paragraph {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #cdcdcd;
            }
        }

        &-mouse {
            .mouse-image {
                max-width: 273px;
                width: 100%;
                height: 261px;
            }

            .mouse-title {
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 34px;
                line-height: 110%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #fff;
                margin-bottom: 12px;
            }

            .mouse-paragraph {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #cdcdcd;
            }
        }

        &-headphone {
            .headphones-image {
                max-width: 273px;
                width: 100%;
                height: 261px;
            }


            .headphones-title {
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 34px;
                line-height: 110%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #fff;
                margin-bottom: 12px;
            }

            .headphones-paragraph {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #cdcdcd;
            }
        }
    }
}