@import "~/src/scss/variables.scss";

.head {
    &-parent {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &-content {
        max-width: 686px;
        width: 100%;
        
    }

    &-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $grey-2;
        margin-top: 24px;
        margin-bottom: 48px;
    }

    &-slider {
        max-width: 686px;
        width: 100%;
    }

    &-actions {
        display: flex;
        gap: 45px;
        .actions-shop-now{
            max-width: 155px;
            width: 100%;
        }
    }

    &-title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 78px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: $white;
    }

    &-scroll{
        margin: 74px 0;
        max-width: 1329px;
        width: 100%;
    }


}