@import "~/src/scss/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav-links {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    margin: 0;
    font-family: var(--font-family);
    a {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $grey-2;
        &.active{
            font-weight: 600;
            color: $white;
          }
    }
}

.header-icons{
    img{
        cursor: pointer;
    }
    img:first-child{
        margin-right: 30px;
    }
}