@import "~/src/scss/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 86px;
}

.nav-links {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    margin: 0;
    font-family: var(--font-family);
    margin: 0 auto;
    a {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $grey-2;
        &.active{
            font-weight: 600;
            color: $white;
          }
    }
}

.header-icons{
    img{
        cursor: pointer;
        
    }
    img:first-child{
        margin-right: 30px;
    }
}

.bm-menu-wrap {
    top: 0;
}

.bm-overlay {
    top: 0;
    left: 0;
}

.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
}

.bm-menu {
    background-color: $grey-3;
    padding: 2rem;
    font-size: 1.2rem;
    a{
        display: block;
        padding: 10px;
        color: $white;
        text-decoration: none;
        outline: none;
        transition: color 0.15s ease-in;
        &:hover{
            color: $grey-6;
        }
    }
}
.menu-item--small{
    position: relative;
    z-index: 999999;
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
        background-color: $white;
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
        background-color: $white;
    }
}

@media (max-width:768px) {
    .nav-links{
        display: none;
    }
    .header-icons{
        img{
            display: none;
        }
    }
    
}
@media (min-width:769px) {
    .bm-burger-button, .menu-item--small{
        display: none;
    }
}